.header {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
}

.logo {
  width: 64px;
  height: 64px;
  margin: 5px 8px;
  border: 1px solid blue;
  &__container {
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  width: 100%;
  height: 100%;
  border: 1px solid pink;
}







