<header class="header">

  <div class="container header__container">

    <div class="header__wrapper">

      <div class="header__image-wrapper">
        <img src="@img/svg/logo.svg" alt="Логотип яндекс гоу" class="header__logo">
      </div>

      <h1 class="header__title">
        Вступайте в клуб Самокатов
      </h1>

      <img class="header__image-img" src="@img/hero-img/hero-img.png" alt="">
      <div class="header__image-div"></div>

      <p class="header__content">
        Купите абонемент, чтобы стать частью клуба в новом сезоне–2024. 8 месяцев за <span class="header__text header__text--discount">499 ₽<span class="header__text header__text--not-discount">3190 ₽</span></span>
      </p>

      <button class="header__button btn">Стать частью клуба</button>
      
    </div>
    

  </div>
</header>
