.work {
  background-color: #001f1f;
  padding: 140px 0 130px 0;

  /* .work__title */

  &__title {
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 1.2px;
    color: #fafafa;
    margin-bottom: 43px;
  }

  /* .work__content */

  &__content {
    @include formatFont(18px, 156%, #fafafa);
    margin: 0;
    margin-bottom: 37px;
  }

  /* .work__button */

  &__button {
    @include formatFont(14px, 143%, #fff);
    text-align: center;
    letter-spacing: 0.02px;
    border: none;
    background-color: #00665F;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    &:focus {
      outline: none;
    }
    @include hover {
      color: #fafafa;
    }
    &:active {
      color: #fafafa;
    }
  }

  &__button.focus-visible {
    border-top: 1px solid $activeColor;
    color: $activeColor;
  }
}

.work-block {

  /* .work-block__left */

  &__left {
    grid-column: 6 span;
  }

  /* .work-block__container */

  &__container {
    width: 330px;
  }

  /* .work-block__rignt */

  &__rignt {
    grid-column: 7 / 6 span;
  }
}
