@import './../vars/vars.scss';

.content {
  margin: 16px 0 0 0;
  width: 100%;
  &__body {
    width: 100%;
    display: flex;
  }
  &__nav {
    background-color: $bg13ce66;
    min-width: 264px;
    height: 904px;
    padding: 13px 19px;
  }
  &__prof {
    flex: 1 1 auto;
    margin: 0 0 0 20px;
  }
}

.navigation {
  width: 100%;
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    list-style: none;
    &:last-child {
      margin-top: 70px;
    }
  }
  &__link {
    color: $fontColor_fff;
    font-size: 34px;
    line-height: 44px;
    text-align: left;
    text-decoration: none;
  }
}

.profile {
  
  &__header {
    width: 100%;
    height: 224px;
    overflow: hidden;
    margin:  0 0 16px 0;
    &-bg {
      width: 100%;
      height: 100%;
    }
    &-img {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}

.user {
  &__container {

  }
  &__image {
    &-container {

    }
    &-link {

    }
  }
}


