$maxWidth: 1440px;
$container: 1000px;
$gapContainer: 30px;

// ======== Fonts =======
$fontName: "YS_Text";
$fontFamily: $fontName, sans-serif;
$firstColorText: #21201f;
$secondColorText: #c5c5c5;
$lineHeightTitle: 100%;
$lineHeightParagraph: 120%;
$fontSizeTitle1-desctop: 72px;
$fontSizeTitle1-mobile: 36px;
$fontSizeTitle2-desctop: 56px;
$fontSizeTitle2-mobile: 32px;
$fontSizeTitle3-desctop: 48px;
$fontSizeTitle3-mobile: 18px;
$fontSizeParagraph-desctop: 24px;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBlack: 900;
// ======== / Fonts =======

// ======= Color =======
$colorButton: #ffde40;
// ======= / Color =======
