<section class="approach">
  <div class="container approach__container grid">
    <div class="approach__content">

      <!-- <div class="approach__content-container"> -->

        <h3 class="approach__title">
          A human–centered definition of success.
        </h3>

        <p class="approach__description">
          Our approach is shaped by the perspective and experience of people impacted by the justice system. Together, we are focused on restoring equity and supporting success in the community.
        </p>

        <a href="" class="approach__button btn">
          Our approach
        </a>

      <!-- </div> -->


      </div>

      <div class="approach__image flex">
        <img src="@img/approach-img.jpg" srcset="img/approach-img2x.jpg 2x" alt="people" loading="lazy" width="235" height="266" class="approach__img">

        <img src="@img/approach-img-1.jpg" srcset="img/approach-img2x-1.jpg 2x" alt="people" loading="lazy" width="317" height="262" class="approach__img">

      </div>

  </div>
</section>