<section class="articles">
  <div class="container articles__container">
    <div class="articles__header flex">
      <h2 class="articles__title">Recidiviz in the Press</h2>
      <a href="#" class="articles__link btn">See All</a>
    </div>
    <div class="articles__press">
      <ul class="articles__list list-reset grid">
        <li class="articles__item">
          <article class="press-card">
            <div class="press-card__top">
              <div class="press-card__author press-card__autor--ted">TED Talks</div>
              <time class="press-card__data" datetime="2022-02-02">2.2.22</time>
            </div>
            <h3 class="press-card__title">
              <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
            </h3>
          </article>
        </li>
        <li class="articles__item">
          <article class="press-card">
            <div class="press-card__top">
              <div class="press-card__author press-card__autor--corr">Correctional News</div>
              <time class="press-card__data" datetime="2022-02-02">2.2.22</time>
            </div>
            <h3 class="press-card__title">
              <a href="#" class="press-card__link">New Partnership Aims to Help Transform Prison Conditions</a>
            </h3>
          </article>
        </li>
        <li class="articles__item">
          <article class="press-card">
            <div class="press-card__top">
              <div class="press-card__author press-card__autor--dep">Department of Justice</div>
              <time class="press-card__data" datetime="2022-26-01">1.26.22</time>
            </div>
            <h3 class="press-card__title">
              <a href="#" class="press-card__link">Justice Department Establishes Initiative  to Strengthen States’ Use of Criminal Justice Data
              </a>
            </h3>
          </article>
        </li>
        <li class="articles__item">
          <article class="press-card">
            <div class="press-card__top">
              <div class="press-card__author press-card__autor--nyt">The New York Times</div>
              <time class="press-card__data" datetime="2022-12-27">12.27.21</time>
            </div>
            <h3 class="press-card__title">
              <a href="#" class="press-card__link">The 2021 Good Tech Awards</a>
            </h3>
          </article>
        </li>
        <li class="articles__item">
          <article class="press-card">
            <div class="press-card__top">
              <div class="press-card__author press-card__autor--c1">Corrections1</div>
              <time class="press-card__data" datetime="2021-11-18">11.18.21</time>
            </div>
            <h3 class="press-card__title">
              <a href="#" class="press-card__link">Maine DOC to better harness correctional data to improve outcomes
              </a>
            </h3>
          </article>
        </li>
        <li class="articles__item">
          <article class="press-card">
            <div class="press-card__top">
              <div class="press-card__author press-card__autor--roc">Right on Crime</div>
              <time class="press-card__data" datetime="2021-09-09">9.9.21</time>
            </div>
            <h3 class="press-card__title">
              <a href="#" class="press-card__link">Together, We Can Make Mississippi Safer and Reentry-Ready
              </a>
            </h3>
          </article>
        </li>
      </ul>
    </div>
  </div>

</section>