<footer class="footer">

    <div class="footer__top">
      <div class="container">
        <nav class="menu" title="Footer menu">
          <ul class="menu__list grid list-reset">

            <li class="menu__item">
              <h3 class="menu__title">Company</h3>
              <span class="menu__line"></span>
              <ul class="footer-nav__list list-reset">

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">About</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Team</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Supporters</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Diversity</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Blog</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Press</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Careers</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Contact</a>
                </li>

              </ul>
            </li>

            <li class="menu__item">
              <h3 class="menu__title">Product</h3>
              <span class="menu__line"></span>
              <ul class="footer-nav__list list-reset">

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Our Approach</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Corrections Leaders</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Corrections Staff</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Policy Impact</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Public Data</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Security</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Testimonials</a>
                </li>

              </ul>
            </li>

            <li class="menu__item">
              <h3 class="menu__title">States</h3>
              <span class="menu__line"></span>
              <ul class="footer-nav__list list-reset">

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Overview</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Idaho</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Maine</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Michigan</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Michigan</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">North Dakota</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Pennsylvania</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Tennessee</a>
                </li>

              </ul>
            </li>

            <li class="menu__item">
              <h3 class="menu__title">Network</h3>
              <span class="menu__line"></span>
              <ul class="footer-nav__list list-reset">

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Twitter</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">Medium</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">GitHub</a>
                </li>

                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">LinkedIn</a>
                </li>

              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="container footer__bottom-container flex">
        <div class="footer__logo">
          <a href="#" class="footer__logo-link">
            <img class="footer__logo-img" src="img/footer-logo.svg" alt="footer logo">
          </a>
        </div>
        <div class="footer__content">
          <div class="footer-privacy">
            <ul class="footer-privacy__list flex list-reset">

              <li class="footer-privacy__item">
                <a href="#" class="footer-privacy__link">Terms of Service</a>
              </li>

              <li class="footer-privacy__item">
                <a href="#" class="footer-privacy__link">Privacy</a>
              </li>

              <li class="footer-privacy__item">
                <a href="#" class="footer-privacy__link">Responsible Disclosure</a>
              </li>

            </ul>
          </div>
          <div class="footer__copyright">
            <span>Copyright © 2017-2022, Recidiviz. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
</footer>