<section class="hero flex">
  
  <div class="container hero__container--top grid">
    <div class="hero__content">
      <h1 class="hero__title">Every person who safely transitions back to the community is a step toward a better society.</h1>
      <p class="hero__description">Criminal justice leaders use Recidiviz to get a real-time picture of their system, diagnose issues, and drive meaningful changes.</p>
      <a href="#" class="hero__button btn">See our work in action</a>
    </div>
  </div>

  <div class="container hero__container--bottom">
    <h3 class="hero__subtitle">Trusted in:</h3>
    <ul class="hero__list list-reset grid">
      <li class="hero__item">
        <a href="#" class="hero__link">Idaho</a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link">Idaho</a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link">Missouri</a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link">North&nbspDakota</a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link">Pennsylvania</a>
      </li>
      <li class="hero__item">
        <a href="#" class="hero__link">Tennessee</a>
      </li>
    </ul>
  </div>

</section>
