<section class="partners">
  <div class="container partners__container flex">
    <h3 class="partners__title">Partners</h3>
    <div class="partners__block-image">
      <ul class="partners__block-list list-reset flex">
        <li class="partners__block-item">
          <a href="#" target="_blank" class="partners__block-link">
            <img src="@img/partners_1-2x.jpg" alt="Reform logo" loading="lazy" width="160" height="67" class="partners__block-img">
          </a>
        </li>
        <li class="partners__block-item">
          <a href="#" target="_blank" class="partners__block-link">
            <img src="@img/partners_2-2x.jpg" alt="Shmidt futures logo" loading="lazy" width="160" height="67" class="partners__block-img">
          </a>
        </li>
        <li class="partners__block-item">
          <a href="#" target="_blank" class="partners__block-link">
            <img src="@img/partners_3-2x.jpg" alt="Right on crime logo" loading="lazy" width="160" height="67" class="partners__block-img">
          </a>
        </li>
        <li class="partners__block-item">
          <a href="#" target="_blank" class="partners__block-link">
            <img src="@img/partners_4-2x.jpg" alt="Mozilla logo" loading="lazy" width="160" height="67" class="partners__block-img">
          </a>
        </li>
        <li class="partners__block-item">
          <a href="#" target="_blank" class="partners__block-link">
            <img src="@img/partners_5-2x.jpg" alt="ACLU logo" loading="lazy" width="160" height="67" class="partners__block-img">
          </a>
        </li>
        <li class="partners__block-item">
          <a href="#" target="_blank" class="partners__block-link">
            <img src="@img/partners_6-2x.jpg" alt="Y logo" loading="lazy" width="160" height="67" class="partners__block-img">
          </a>
        </li>
      </ul>
    </div>
    <a href="#" class="partners__link">See&nbspAll</a>
  </div>
</section>