<section class="press">
  <div class="container press__container">
    <ul class="press__list list-reset grid">
      <li class="press__item">
        <a href="#" class="press__link press__link--ted">TED&nbspTalks</a>
      </li>
      <li class="press__item">
        <a href="#" class="press__link press__link--nyt">The&nbspNew&nbspYork Times</a>
      </li>
      <li class="press__item">
        <a href="#" class="press__link press__link--scoop">StateScoop</a>
      </li>
      <li class="press__item">
        <a href="#" class="press__link press__link--press">Associated&nbspPress</a>
      </li>
      <li class="press__item">
        <a href="#" class="press__link press__link--time">Time</a>
      </li>
      <li class="press__item">
        <a href="#" class="press__link press__link--freethink">Freethink</a>
      </li>
    </ul>
  </div>
</section>

