<section class="work">
  <div class="container grid">
    <div class="work-block__left">
      <div class="work-block__container">

        <h2 class="work__title">Where we work</h2>
        <p class="work__content">We're expanding. Get in touch and start turning your data into action.</p>
        <button class="work__button btn">Get in touch</button>

      </div>
    </div>

    <div class="work-block__rignt">
      <img src="img/work.png" srcset="img/work-2x.png" alt="" class="work__image" width="461" height="242">
    </div>
  </div>
</section>